 .u-section-1 {
  min-height: 1167px;
}

.u-section-1 .u-list-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 1107px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-1 .u-image-1 {
  width: 396px;
  height: 214px;
  margin: 59px auto 0 35px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -74px 61px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 22px 58px 0 40px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-1 .u-image-2 {
  width: 396px;
  height: 214px;
  margin: 59px auto 0 35px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -74px 61px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 22px 58px 0 40px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-1 .u-image-3 {
  width: 396px;
  height: 214px;
  margin: 59px auto 0 35px;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -74px 61px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 22px 58px 0 40px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-1 .u-image-4 {
  width: 396px;
  height: 214px;
  margin: 59px auto 0 35px;
}

.u-section-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -74px 61px 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 22px 58px 0 40px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-1 .u-image-5 {
  width: 396px;
  height: 214px;
  margin: 59px auto 0 35px;
}

.u-section-1 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: -74px 61px 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 22px 58px 0 40px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-1 .u-image-6 {
  width: 396px;
  height: 214px;
  margin: 59px auto 0 35px;
}

.u-section-1 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: -74px 61px 0 auto;
}

.u-section-1 .u-text-6 {
  margin: 22px 58px 0 40px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 10px;
}

.u-section-1 .u-image-7 {
  width: 396px;
  height: 214px;
  margin: 59px auto 0 35px;
}

.u-section-1 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: -74px 61px 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 22px 58px 0 40px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 10px;
}

.u-section-1 .u-image-8 {
  width: 396px;
  height: 214px;
  margin: 59px auto 0 35px;
}

.u-section-1 .u-icon-8 {
  width: 64px;
  height: 64px;
  margin: -74px 61px 0 auto;
}

.u-section-1 .u-text-8 {
  margin: 22px 58px 0 40px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 10px;
}

.u-section-1 .u-image-9 {
  width: 396px;
  height: 214px;
  margin: 59px auto 0 35px;
}

.u-section-1 .u-icon-9 {
  width: 64px;
  height: 64px;
  margin: -74px 61px 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 22px 58px 0 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 913px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1763px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 320px;
    height: 173px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -33px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 173px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -33px;
  }

  .u-section-1 .u-image-3 {
    width: 320px;
    height: 173px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -33px;
  }

  .u-section-1 .u-image-4 {
    width: 320px;
    height: 173px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -33px;
  }

  .u-section-1 .u-image-5 {
    width: 320px;
    height: 173px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -33px;
  }

  .u-section-1 .u-image-6 {
    width: 320px;
    height: 173px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-6 {
    margin-top: -33px;
  }

  .u-section-1 .u-image-7 {
    width: 320px;
    height: 173px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-7 {
    margin-top: -33px;
  }

  .u-section-1 .u-image-8 {
    width: 320px;
    height: 173px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-8 {
    margin-top: -33px;
  }

  .u-section-1 .u-image-9 {
    width: 320px;
    height: 173px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-9 {
    margin-top: -33px;
  }
}