 .u-section-1 {
  background-image: url("images/wallpapersden.com_abstract-colorful-shape_1920x1080.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 320px 42px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: url("images/AmazingGameHDWallpapers047.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 985px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 23px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.44;
  margin: 149px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 812px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 622px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 467px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 294px;
  }
} .u-section-3 {
  background-image: url("images/wallpapersden.com_winter-path-hd_1920x1080.jpg");
  background-position: 43.94% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 985px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 18px;
  margin: 211px 97px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 812px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 622px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 467px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 294px;
  }
} .u-section-4 {
  background-image: url("images/wallpapersden.com_rhombus-colorful-shapes_1920x1080.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 985px;
}

.u-section-4 .u-text-1 {
  letter-spacing: 29px;
  margin: 423px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 812px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 622px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 467px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 294px;
  }
} .u-section-5 {
  background-image: url("images/nfs_14-wallpaper-1920x1080.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 985px;
}

.u-section-5 .u-text-1 {
  letter-spacing: 30px;
  margin: 745px -101px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 812px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 622px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 467px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 294px;
  }
} .u-section-6 {
  background-image: url("images/wolf-1920x1080-forest-snow-cute-animals-4736.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 985px;
}

.u-section-6 .u-text-1 {
  letter-spacing: 17px;
  margin: 157px auto 0 -45px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 812px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 622px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 467px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 294px;
  }
} .u-section-7 {
  background-image: url("images/wallpapersden.com_76092-1920x1080.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 1001px;
}

.u-section-7 .u-text-1 {
  letter-spacing: 31px;
  margin: 810px -66px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 825px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 632px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 474px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 298px;
  }
} .u-section-8 {
  background-image: url("images/new-york-1920x1080-ny-usa-4k-185451.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 985px;
}

.u-section-8 .u-text-1 {
  margin: 80px auto 0 -37px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 812px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 622px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 467px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 294px;
  }
}